{% extends 'base.html' %}
{% load staticfiles %}


{% block head_title %}Personal Details{% endblock head_title %}

{% block content %}

<div class="sub-head blackish ext-low-opacity">
    <div class="bg-image" style="background-image: url({% static 'images/slider/napnha2.png' %})"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cola-head">
                    <div class="head-meta">
                        <h4>Register</h4>
                        <!-- <p>( Login to your account. )</p> -->
                    </div>

                    <div class="info-links">
                        <a href="#" title="">NAPNHA Exclusive Registration</a>
                        <a href="#" title="">Provide your Award Details</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- subhead -->

<section>
    <div class="space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-sec">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4">

                            </div>

                            <div class="col-lg-8 col-sm-8">
                                <div class="cola-form">
                                    <h4><i class=""></i>Update Personal Profile:</h4>

                                    <form method="post">{% csrf_token %}
                                        {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                        {% endif %}

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-row">
                                                    <div class="col">
                                                        {% if form.state_of_origin.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ form.state_of_origin.errors }}
                                                        </div>
                                                        {% endif %}
                                                        {{ form.state_of_origin }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-row">
                                                    <div class="col">
                                                        {% if form.lga_of_origin.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ form.lga_of_origin.errors }}
                                                        </div>
                                                        {% endif %}
                                                        {{ form.lga_of_origin }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-row">
                                                    <div class="col">
                                                        {% if form.gender.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ form.gender.errors }}
                                                        </div>
                                                        {% endif %}
                                                        {{ form.gender }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-row">
                                                    <div class="col">
                                                        {% if form.dob.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ form.dob.errors }}
                                                        </div>
                                                        {% endif %}
                                                        {{ form.dob }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-row">
                                                    <div class="col">
                                                        {% if form.bio.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ form.bio.errors }}
                                                        </div>
                                                        {% endif %}
                                                        {{ form.bio }}
                                                    </div>
                                                </div>
                                            </div>
                                            {% comment %}
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-row">
                                                    <div class="col">
                                                        {% if form.whatsapp_phone.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ form.whatsapp_phone.errors }}
                                                        </div>
                                                        {% endif %}
                                                        {{ form.whatsapp_phone }}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endcomment %}
                                        </div>
                                        <button type="submit" id="button" class="theme-btn">Update Profile</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- form section -->


{% endblock content %}


{% block extra-js %}
<script>
    $('#id_state_of_origin').attr('placeholder', 'State of Origin');
    $('#id_state_of_origin').addClass('form-control1');

    $('#id_lga_of_origin').attr('placeholder', 'L.G.A');
    $('#id_lga_of_origin').addClass('form-control1');

    $('#id_gender').attr('placeholder', 'Gender');
    $('#id_gender').addClass('form-control1');

    $('#id_dob').attr('placeholder', 'Date of Birth');
    $('#id_dob').addClass('form-control1');

    $('#id_bio').attr('placeholder', 'Biography');
    $('#id_bio').addClass('form-control1');

    $('#id_password').attr('placeholder', 'Password');
    $('#id_password').addClass('form-control1');

    $('#id_confirm').attr('placeholder', 'Confirm Password');
    $('#id_confirm').addClass('form-control1');

    $('#id_button').addClass('form-control1');
</script>
{% endblock extra-js %}