{% extends 'base.html' %}
{% load staticfiles %}


{% block head_title %}Personal Details{% endblock head_title %}

{% block content %}

<div class="sub-head blackish ext-low-opacity">
    <div class="bg-image" style="background-image: url({% static 'images/slider/napnha2.png' %})"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cola-head">
                    <div class="head-meta">
                        <h4><a href="{% url 'profile' %}">Profile</a></h4>
                        <!-- <p>( Login to your account. )</p> -->
                    </div>

                    <div class="info-links">
                        <a href="#" title="">NAPNHA Exclusive Profile</a>
                        <a href="#" title="">Update your Professional Details</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- subhead -->

<section>
    <div class="space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-sec">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4">

                            </div>

                            <div class="col-lg-8 col-sm-8">
                                <div class="cola-form">
                                    <h4><i class=""></i>Update Personal Profile:</h4>

                                    <form method="post">{% csrf_token %}
                                        {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            {{ error }}
                                        </div>
                                        {% endfor %}
                                        {% endif %}

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-row">
                                                    <div class="col">
                                                        {% if form.profession.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ form.profession.errors }}
                                                        </div>
                                                        {% endif %}
                                                        {{ form.profession }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-row">
                                                    <div class="col">
                                                        {% if form.ministry.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ form.ministry.errors }}
                                                        </div>
                                                        {% endif %}
                                                        {{ form.ministry }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-row">
                                                    <div class="col">
                                                        {% if form.level.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ form.level.errors }}
                                                        </div>
                                                        {% endif %}
                                                        {{ form.level }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-row">
                                                    <div class="col">
                                                        {% if form.office_address.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ form.office_address.errors }}
                                                        </div>
                                                        {% endif %}
                                                        {{ form.office_address }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <button type="submit" id="button" class="theme-btn">Update Profile</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- form section -->


{% endblock content %}


{% block extra-js %}
<script>
    $('#id_profession').attr('placeholder', 'Profession');
    $('#id_profession').addClass('form-control1');

    $('#id_ministry').attr('placeholder', 'Ministry');
    $('#id_ministry').addClass('form-control1');

    $('#id_level').attr('placeholder', 'Level');
    $('#id_level').addClass('form-control1');

    $('#id_office_address').attr('placeholder', 'Office Address');
    $('#id_office_address').addClass('form-control1');

    $('#id_bio').attr('placeholder', 'Biography');
    $('#id_bio').addClass('form-control1');

    $('#id_password').attr('placeholder', 'Password');
    $('#id_password').addClass('form-control1');

    $('#id_confirm').attr('placeholder', 'Confirm Password');
    $('#id_confirm').addClass('form-control1');

    $('#id_button').addClass('form-control1');
</script>
{% endblock extra-js %}