{% extends 'base.html' %}
{% load staticfiles %}


{% block head_title %}Contact Us{% endblock head_title %}

{% block content %}
<div class="sub-head blackish ext-low-opacity">
  <div class="bg-image" style="background-image: url({% static 'images/slider/napnha2.png' %})"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="cola-head">
          <div class="head-meta">
            <h4>{{ account.full_name }}</h4>
            <!-- <p></p> <span>{{ greeting }}</span><br> -->
          </div>
          <a href="#" title="" class="theme-btn"><i class="fa fa-share-alt"></i>share profile</a>
          <div class="info-links">
            <a href="" title="">{{ greeting }} {{ account.salutation }}</a>
            <!-- <a href="#" title="">submit your car</a> -->
            <span><i class="fa fa-phone"></i> {{ account.phone }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- subhead -->

<section>
  <div class="space">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="profile">
            <div class="row">
              <div class="col-lg-3">
                <div class="profile-dp">
                  <figure>
                    <a href="{% url 'profile_picture' pk=account.pk %}">
                      {% if account.picture %}
                      <img src="{{ account.image_url }}" alt="">
                      {% else %}
                      <img src="{% static 'images/resources/user.png' %}" alt="">
                      {% endif %}
                    </a>
                  </figure>
                  <div class="profile-info">
                    <span class="profile-name">{{ account.full_name }}</span>
                    <!--
                    <ul class="stars-rating">
                      <li><i class="fa fa-star checked"></i></li>
                      <li><i class="fa fa-star checked"></i></li>
                      <li><i class="fa fa-star checked"></i></li>
                      <li><i class="fa fa-star checked"></i></li>
                      <li><i class="fa fa-star checked"></i></li>
                    </ul>
                    -->
                    <ins>Member</ins>
                  </div>
                  <ul class="verification">
                    <li><i class="flaticon-world"></i>
                      <strong>Joined on: </strong>{{ account.registered_on|date:"D, d M, Y" }}
                    </li>
                    <li><i class="flaticon-tick"></i>
                      <strong>Dues: </strong> {{ account.next_payment_due }}
                    </li>
                    <li><i class="flaticon-tick"></i>
                      <strong>Next Payment Date:</strong> {{ account.next_payment_due }}
                    </li>
                  </ul>
                  <!-- <a href="#" title="" class="theme-btn">send message</a> -->
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="profile-bg">
                  <ul class="nav nav-tabs profile-btn">
                    <!-- <li class="nav-item"><a class="active" href="#link1" data-toggle="tab">Dashboard</a></li> -->
                    <li class="nav-item"><a class="" href="#link2" data-toggle="tab">Profile</a></li>
                    <li class="nav-item"><a class="" href="#link3" data-toggle="tab">Settings</a></li>
                    <!-- <li class="nav-item"><a class="" href="#link4" data-toggle="tab">Posts</a></li> -->
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content profile">
                    <div class="tab-pane fade" id="link1">
                      <div class="ride-request">
                        <ul>
                          <li>Users since<span>21 Oct 2014</span></li>
                          <li>city<span>Cardiff</span></li>
                          <li>Rides created<span>0</span></li>
                          <li>Rides as driver<span>o rides / 0 km</span></li>
                          <li>Rides as passenger<span>6 rides / 1598 km</span></li>
                        </ul>
                        <span class="flag"><i class="flaticon-racing-flag"></i>flag</span>
                      </div>
                    </div>
                    <!-- ****PROFILE LINKS**** -->
                    <div class="tab-pane active fade show" id="link2">
                      <div class="ride-request">
                        <!-- style="text-align: center;"  class="theme-btn" -->
                        <span class="flag">

                          <a href="{% url 'personal_details' pk=account.pk %}" title="">
                            {% if account.whatsapp_phone is None or account.middle_name is None %}
                            <div class="bad">
                              <i class="fa fa-id-badge" aria-hidden="true"></i>
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                            {% else %}
                            <div class="good">
                              <i class="fa fa-id-badge" aria-hidden="true"></i>
                              <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            {% endif %}
                          </a>

                        </span>
                        <ul>
                          <li>Full Name: <span>{{ account.surname }} {{ account.first_name }}
                              {% if account.middle_name %}{{ account.middle_name }}{% endif %}</span></li>
                          <li>Email: <span>{{ account.email }}</span></li>
                          <li>Phone:<span>{{ account.phone }}</span></li>
                          <li>
                            WhatsApp:<span>{% if account.whatsapp_phone %}{{ account.whatsapp_phone }}{% endif %}</span>
                          </li>
                        </ul>

                        <span class="flag">
                          <a href="{% url 'origin_details' pk=account.pk %}" title="">
                            {% if account.dob is None or account.gender is None or account.state_of_origin is None or account.lga_of_origin is None or account.bio is None %}
                            <div class="bad">
                              <i class="fa fa-address-card" aria-hidden="true"></i>
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                            {% else %}
                            <div class="good">
                              <i class="fa fa-address-card" aria-hidden="true"></i>
                              <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            {% endif %}
                          </a>
                        </span>
                        <ul>
                          <li>Birth Date: <span>{% if account.dob %}{{ account.dob }}{% endif %}</span></li>
                          <li>Gender:
                            <span>{% if account.get_gender_display %}{{ account.get_gender_display }}{% endif %}</span>
                          </li>
                          <li>State:
                            <span>{% if account.state_of_origin %}{{ account.state_of_origin }}{% endif %}</span></li>
                          <li>LGA:<span>{% if account.lga_of_origin %}{{ account.lga_of_origin }}{% endif %}</span></li>
                          <li>Biography:<span>{% if account.bio %}{{ account.bio }}{% endif %}</span></li>
                        </ul>

                        <span class="flag">
                          <a href="{% url 'nysc_details' pk=account.pk %}" title="">
                            {% if account.state_code is None or account.call_up_num is None%}
                            <div class="bad">
                              <i class="fa fa-flag-o" aria-hidden="true"></i>
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                            {% else %}
                            <div class="good">
                              <i class="fa fa-flag-o" aria-hidden="true"></i>
                              <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            {% endif %}
                          </a>
                        </span>

                        <ul>
                          <li>NAPNHA Number:
                            <span>{% if account.napnha_number %}{{ account.napnha_number }}{% endif %}</span></li>
                          <li>State Code: <span>{% if account.state_code %}{{ account.state_code }}{% endif %}</span>
                          </li>
                          <li>Call Up Number:
                            <span>{% if account.call_up_num %}{{ account.call_up_num }}{% endif %}</span></li>
                        </ul>
                        <span class="flag">
                          <a href="{% url 'profesional_details' pk=account.pk %}" title="">
                            {% if account.profession is None and account.ministry is None and account.level is None and account.office_address is None %}
                            <div class="bad">
                              <i class="fa fa-briefcase" aria-hidden="true"></i>
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                            {% else %}
                            <div class="good">
                              <i class="fa fa-briefcase" aria-hidden="true"></i>
                              <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            {% endif %}
                          </a>
                        </span>

                        <ul>
                          <li>Profession: <span>{{ account.profession }}</span></li>
                          <li>Ministry: <span>{{ account.ministry }}</span></li>
                          <li>Level: <span>{{ account.level }}</span></li>
                          <li>Office Address:<span>{{ account.office_address }}</span></li>
                        </ul>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="link3">
                      <div class="colla-table">
                        <h5 class="little-title">Change Password:</h5>
                        <p>click to change your password to a new one</p>
                      </div>
                      <div class="colla-table">
                        <h5 class="little-title">Profile Link:</h5>
                        <p>You can customize your profile link here</p>
                      </div>
                    </div>

                    <div class="tab-pane fade" id="link4">
                      <ul class="reviewer">
                        <li>
                          <figure>
                            <img src="{% static 'images/resources/reviewer-3.jpg' %}" alt="">
                          </figure>
                          <div class="activity-meta">
                            <span><a href="#" title="">Derrick H.</a> 02 Oct 2017</span>
                            <p>Very cozy and welcoming in Jessica’s car!</p>
                            <ul class="stars-rating">
                              <li><i class="fa fa-star checked"></i></li>
                              <li><i class="fa fa-star checked"></i></li>
                              <li><i class="fa fa-star checked"></i></li>
                              <li><i class="fa fa-star checked"></i></li>
                              <li><i class="fa fa-star checked"></i></li>
                            </ul>
                          </div>
                        </li>
                        <li>
                          <figure>
                            <img src="{% static 'images/resources/reviewer-4.jpg' %}" alt="">
                          </figure>
                          <div class="activity-meta">
                            <span><a href="#" title="">Mia J.</a> 28 Sept 2017</span>
                            <p>Jessica is very outgoing and peaceful. I had such a great time on the full ride with
                              here. 100% recommended!</p>
                            <ul class="stars-rating">
                              <li><i class="fa fa-star checked"></i></li>
                              <li><i class="fa fa-star checked"></i></li>
                              <li><i class="fa fa-star checked"></i></li>
                              <li><i class="fa fa-star checked"></i></li>
                              <li><i class="fa fa-star checked"></i></li>
                            </ul>
                          </div>
                        </li>
                        <li>
                          <figure>
                            <img src="{% static 'images/resources/reviewer-5.jpg' %}" alt="">
                          </figure>
                          <div class="activity-meta">
                            <span><a href="#" title="">Janet Y.</a> 24 Sept 2017</span>
                            <p>Jessica is punctual, which I really appreciate at someone, especially when they are
                              getting picked up. </p>
                            <ul class="stars-rating">
                              <li><i class="fa fa-star checked"></i></li>
                              <li><i class="fa fa-star checked"></i></li>
                              <li><i class="fa fa-star checked"></i></li>
                              <li><i class="fa fa-star checked"></i></li>
                              <li><i class="fa fa-star checked"></i></li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12">
                <div class="sidebar right">
                  <div class="note-box">
                    <!-- flaticon-volkswagen-car-side-view -->
                    <span><i class=""></i>Recent Message</span>
                    <p>This is a new message for you.</p>
                    <a href="#" title="" class="theme-btn">how does it work</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- points section -->
{% endblock content %}