036329
047c34
#023e1a
#024e20
						<li data-index="rs-2940" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/images/mountainbg-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Development" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src="{% static 'images/slider/slider1.jpeg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 18 -->
								<div class="tp-caption tp-resizeme" 
									 id="slide-2940-layer-1" 
									 data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']" 
									 data-y="['middle','middle','middle','bottom']" data-voffset="['0','0','0','-100']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="image" 
									data-responsive_offset="on" 

									data-frames='[{"from":"x:left;","speed":1500,"to":"o:1;","delay":2500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
									data-textAlign="['left','left','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 22;text-transform:left;border-width:0px;"><img src="{% static 'images/slider/3rdslide-png.png' %}" alt="" data-ww="['auto','auto','auto','220']" data-hh="['auto','auto','auto','320']" width="auto" height="auto" data-no-retina> </div>

								

								<!-- LAYER NR. 20 -->
								<div class="tp-caption WebProduct-Title tp-resizeme" 
									 id="slide-2940-layer-7" 
									 data-x="['right','right','right','center']" data-hoffset="['20','0','50','0']" 
									 data-y="['middle','middle','middle','top']" data-voffset="['-80','-80','-60','30']" 
									data-fontsize="['45','30','20','30']"
									data-lineheight="['50','50','30','30']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text" 
									data-responsive_offset="on" 

									data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
									data-textAlign="['left','left','left','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 24; white-space: nowrap; text-transform:left; font-weight: 800; letter-spacing: -0.6px;">Make an Impression<br/>Cars for every budget</div>

								
								<!-- LAYER NR. 22 -->
								<div class="tp-caption WebProduct-Content   tp-resizeme" 
									 id="slide-2940-layer-9" 
									 data-x="['right','right','right','center']" data-hoffset="['50','230','85','0']" 
									 data-y="['middle','middle','top','top']" data-voffset="['35','35','250','100']" 
									data-fontsize="['18','18','18','14']"
									data-lineheight="['28','24','24','22']"
									data-width="['448','356','334','277']"
									data-height="['none','none','76','68']"
									data-whitespace="normal"

									data-type="text" 
									data-responsive_offset="on" 

									data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
									data-textAlign="['left','left','left','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 26; min-width: 360px; max-width: 360px; white-space: normal; font-family: Mukta Mahee; color: #1e1e1e; line-height: 25px;">
									We have a dedicated procurement team working around the clock to make sure you always get the best deals......</div>

								<!-- LAYER NR. 23 -->
								<div class="tp-caption WebProduct-Button rev-btn " 
									 id="slide-2940-layer-8" 
									 data-x="['center','center','center','center']" data-hoffset="['200','230','50','0']" 
									 data-y="['middle','middle','bottom','top']" data-voffset="['130','80','80','180']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="button" 
									data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2941","delay":""}]'
									data-responsive_offset="on" 
									data-responsive="off"
									data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);bw:2px 2px 2px 2px;"}]'
									data-textAlign="['left','left','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[40,40,40,30]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[40,40,40,30]"

									style="z-index: 27; white-space: nowrap;text-transform:left; background: #fff; color: #1e1e1e; font-size: 15px; font-family: Mukta Mahee;">RIDE NOW</div>
							</li>