{% extends 'base.html' %}
{% load staticfiles %}


{% block head_title %}Home{% endblock head_title %}

{% block content %}
<section>
        	<div class="featured-area">
            	<div class="main-slider">
			<div id="rev_slider_1063_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="highlight-showcase122" data-source="gallery" style="margin:0px auto;background-color:rgb(235, 239, 242);padding:0px;margin-top:0px;margin-bottom:0px;">
				<!-- START REVOLUTION SLIDER 5.4.1 auto mode -->
				<div id="rev_slider_1063_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
					<ul>	<!-- SLIDE  -->
						<li data-index="rs-2985" data-transition="slideoverhorizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="images/slider/slider2.jpeg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="Service" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="{% static 'images/slider/slider3.jpeg' %}"  alt="" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->
							<div class="tp-caption News-Title tp-resizeme" 
								 id="slide-2985-layer-1" 
								 data-x="['left','left','left','left']" data-hoffset="['80','80','40','40']" 
								 data-y="['center','center','center','center']" data-voffset="['-100','-100','-100','-80']" 
								data-width="auto"
								data-height="auto"
								data-whitespace="normal"
								data-type="text" 
								data-responsive_offset="on" 
								data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inhexrit;e:inherit;","ease":"nothing"}]'

								data-fontsize="['55','55','40','40']" 
								data-lineheight="['50','50','30','30']"
								data-textAlign="['left','left','left','left']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"


								style="z-index: 5; white-space: normal; font-family: Mukta Mahee; font-weight: 900; line-height: 55px; color: #fff;">Service<br> <span style="color: #f2335e; ">for </span> <br> Humanity</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-resizeme" 
								 id="slide-2985-layer-2" 
								 data-x="['left','left','left','left']" 
								 data-hoffset="['80','80','40','40']" 
								 data-y="['center','center','center','center']" 
								 data-voffset="['40','40','40','40']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"

								data-type="image" 
								data-responsive_offset="on" 

								data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'

								data-fontsize="['16','16','14','14']" 
								data-textAlign="['left','left','left','left']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 6;border-width:0px; font-family: Mukta Mahee; color: #fff; line-height: 25px;"> 
                                The National Association of the President's NYSC Honours Awardees <br> are not just charged with the responsibility of service to our nation Nigeria, <br> but to humanity. We owe our lives to humanity!</div>

							<!-- LAYER NR. 3 -->
							<a class="tp-caption News-Subtitletp-resizeme" href=""
								 id="slide-2985-layer-3" 
								 data-x="['left','left','left','left']" data-hoffset="['80','80','40','40']" 
								 data-y="['center','center','center','center']" data-voffset="['130','130','120','120']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"

								data-type="button" 
								data-responsive_offset="on" 

								data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"nothing"}]'
								data-textAlign="['left','left','left','left']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 7; white-space: nowrap;cursor:pointer; font-family: Mukta Mahee; color: #fff; font-size: 20px; font-weight: 800; text-decoration: ;">Read More |:> </a>
						</li>
						<!-- SLIDE  -->

						<li data-index="rs-2986" data-transition="slideoverhorizontal" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="images/Sail-Away-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="Unity" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="{% static 'images/slider/slider1.jpeg' %}"  alt=""  data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 1 -->
							<div class="tp-caption News-Title tp-resizeme" 
								 id="slide-2985-layer-1" 
								 data-x="['left','left','left','left']" data-hoffset="['80','80','40','40']" 
								 data-y="['center','center','center','center']" data-voffset="['-100','-100','-100','-80']" 
								data-width="auto"
								data-height="auto"
								data-whitespace="normal"
								data-type="text" 
								data-responsive_offset="on" 
								data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]'

								data-fontsize="['55','55','40','40']" 
								data-lineheight="['50','50','30','30']"
								data-textAlign="['left','left','left','left']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 5; white-space: normal; font-family: Mukta Mahee; font-weight: 900; line-height: 60px; color: #fff;">Unity <br> <span style="color: #f2335e;">in</span> <br> Diversity</div>

							<!-- LAYER NR. 2 -->
							<div class="tp-caption tp-resizeme" 
								 id="slide-2985-layer-2" 
								 data-x="['left','left','left','left']" 
								 data-hoffset="['80','80','40','40']" 
								 data-y="['center','center','center','center']" 
								 data-voffset="['40','40','40','40']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"

								data-type="image" 
								data-responsive_offset="on" 

								data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'

								data-fontsize="['16','16','14','14']" 
								data-textAlign="['left','left','left','left']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 6;border-width:0px; font-family: Mukta Mahee; color: #fff; line-height: 25px;"> 
                                NAPNHA fosters unity and common ties among the Nigerian populace. <br>We bridge the gap and bring about unity across all divide. <br>We are the binding force of Nigeria!
                                <!-- Don't just take our word for it. We're rated at 9.7/10 on independent,<br> review website TrustPilot, from over 4,000<br> genuine customer reviews. --> </div>

							<!-- LAYER NR. 3 -->
							<a class="tp-caption News-Subtitletp-resizeme" href=""
								 id="slide-2985-layer-3" 
								 data-x="['left','left','left','left']" data-hoffset="['80','80','40','40']" 
								 data-y="['center','center','center','center']" data-voffset="['130','130','120','120']" 
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"

								data-type="button" 
								data-responsive_offset="on" 

								data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"nothing"}]'
								data-textAlign="['left','left','left','left']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 7; white-space: nowrap;cursor:pointer; font-family: Mukta Mahee; color: #fff; font-size: 20px; font-weight: 800; text-decoration: ;">About Us |:></a>
						</li>
						<!-- SLIDE  -->

						<li data-index="rs-2940" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="images/images/mountainbg-100x50.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Development" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
								<!-- MAIN IMAGE -->
								<img src=""  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
								<!-- LAYERS -->

								<!-- LAYER NR. 18 -->
								<div class="tp-caption tp-resizeme" 
									 id="slide-2940-layer-1" 
									 data-x="['left','left','left','center']" data-hoffset="['0','0','0','0']" 
									 data-y="['middle','middle','middle','bottom']" data-voffset="['0','0','0','-100']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="image" 
									data-responsive_offset="on" 

									data-frames='[{"from":"x:left;","speed":1500,"to":"o:1;","delay":2500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
									data-textAlign="['left','left','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 22;text-transform:left;border-width:0px;"><img src="" alt="" data-ww="['auto','auto','auto','220']" data-hh="['auto','auto','auto','320']" width="auto" height="auto" data-no-retina> </div>

								

								<!-- LAYER NR. 20 -->
								<div class="tp-caption WebProduct-Title tp-resizeme" 
									 id="slide-2940-layer-7" 
									 data-x="['right','right','right','center']" data-hoffset="['20','0','50','0']" 
									 data-y="['middle','middle','middle','top']" data-voffset="['-80','-80','-60','30']" 
									data-fontsize="['45','30','20','30']"
									data-lineheight="['50','50','30','30']"
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="text" 
									data-responsive_offset="on" 

									data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
									data-textAlign="['left','left','left','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 24; white-space: nowrap; text-transform:left; font-weight: 800; letter-spacing: -0.6px;">Creating pathway for<br/> national development</div>

								
								<!-- LAYER NR. 22 -->
								<div class="tp-caption WebProduct-Content   tp-resizeme" 
									 id="slide-2940-layer-9" 
									 data-x="['right','right','right','center']" data-hoffset="['50','230','85','0']" 
									 data-y="['middle','middle','top','top']" data-voffset="['35','35','250','100']" 
									data-fontsize="['18','18','18','14']"
									data-lineheight="['28','24','24','22']"
									data-width="['448','356','334','277']"
									data-height="['none','none','76','68']"
									data-whitespace="normal"

									data-type="text" 
									data-responsive_offset="on" 

									data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
									data-textAlign="['left','left','left','center']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[0,0,0,0]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[0,0,0,0]"

									style="z-index: 26; min-width: 360px; max-width: 360px; white-space: normal; font-family: Mukta Mahee; color: #1e1e1e; line-height: 25px;">
									{% comment %} We are dedicated to overcoming all obstacles that impairs the growth of humanity, commited to developing our natural ability that makes us stronger and improves the framework to generate economic growth, achieve social justice, exercise environmental stewardship and strengthen governance. {% endcomment %}
									We are dedicated to overcoming all obstacles that impairs the growth of humanity, commited to developing our natural ability to generate economic growth, achieve social justice, exercise environmental stewardship to strengthen governance.
									</div>

								<!-- LAYER NR. 23 -->
								<div class="tp-caption WebProduct-Button rev-btn " 
									 id="slide-2940-layer-8" 
									 data-x="['center','center','center','center']" data-hoffset="['200','230','50','0']" 
									 data-y="['middle','middle','bottom','top']" data-voffset="['130','80','80','180']" 
									data-width="none"
									data-height="none"
									data-whitespace="nowrap"

									data-type="button" 
									data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-2941","delay":""}]'
									data-responsive_offset="on" 
									data-responsive="off"
									data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(0, 0, 0, 1.00);bw:2px 2px 2px 2px;"}]'
									data-textAlign="['left','left','left','left']"
									data-paddingtop="[0,0,0,0]"
									data-paddingright="[40,40,40,30]"
									data-paddingbottom="[0,0,0,0]"
									data-paddingleft="[40,40,40,30]"

									style="z-index: 27; white-space: nowrap;text-transform:left; background: #fff; color: #1e1e1e; font-size: 15px; font-family: Mukta Mahee;">JOIN US NOW</div>
							</li>
                        
                        
					</ul>
					<div class="tp-bannertimer" style="height: 6px; background-color: rgba(46, 209, 255, 1.00);"></div>	
				</div>
			</div><!-- END REVOLUTION SLIDER -->
            
		</div>				
                {% comment %} <div class="featured-meta">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="cola-topmeta">
                                	<div class="colaroute-search">
                                    	<div class="colla-select">
                                        	<a class="active" href="#" title="">i m' a driver</a>
                                            <a href="#" title="">i need a lift</a>
                                        </div>
                                        <form method="post">
                                        	<input name="from" id="from" type="text" placeholder="Driving from">
                                        	<input name="to" id="to" type="text" placeholder="Going to">
                                            <button type="submit">go!</button>
                                        </form>
                                    </div>
                                </div>	
                            </div>
							<div class="col-lg-4">
								<div class="cola-submition">
									<ul>
										<li><a class="theme-btn" href="#" title=""><i class="fa fa-car"></i>submit your car</a></li>
										<li><a class="theme-btn" href="#" title=""><i class="fa fa-road"></i>submit your route</a></li>
									</ul>
									<span><i class="fa fa-smile-o"></i>Earn Car Carry points today! <a href="#" title="">learn more</a></span>
								</div>
							</div>
                        </div>
                    </div>
                </div>{% endcomment %}
            </div>
        </section><!-- featured area section -->

{% endblock content %}